body {
    font-family: "Poppins";
    background-color: rgb(53, 53, 53);
}
@font-face {
    font-family: "Poppins"; 
    src: url("../style/fonts/Poppins-MediumItalic.ttf") format("truetype"); 
    font-style:italic; 
    font-weight:lighter; 
}
.username {
    appearance:none;
    -webkit-appearance:none;
    padding:0px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:800px;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 10px;
    width: 40%;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 4px;
}
.username:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.header {
    text-align: center;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    padding-left: 15px;
    margin-left: 0px;
}
.uploadFile {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
    color: white;
    border: solid 4px;
    background-color: #0068E8;
    border-radius: 6px;
    border-color: #0068E8;
    width: 19%;
    padding-bottom: 5px;
    padding-top: 5px;
}

