body {
    font-family: "Poppins";
    background-color: rgb(53, 53, 53);
    height: 100%;
}
@font-face {
    font-family: "Poppins"; 
    src: url("../style/fonts/Poppins-SemiBold.ttf") format("truetype"); 
    font-style:italic; 
    font-weight:lighter; 
}
.info {
    opacity: 0.8;
    appearance:none;
    font-family: "Poppins"; 
    -webkit-appearance:none;
    padding:0px;
    border:none;
    background-color:rgb(53, 53, 53);
    border: solid 2px rgba(100, 100, 100);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color:#fff;
    font-weight:800px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
    width: 40%;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 4px;
    padding-top: 4px;
}
.header {
    text-align: center;
    margin-bottom: 25px;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    padding-left: 15px;
    margin-left: 0px;
}
.uploadFile {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    border: solid 4px;
    border: 2px solid rgba(100, 100, 100);
    border-radius: 6px;
    width: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
}
input[type=file] {
    font-family: "Poppins";
    font-size: 14px;
    
}
input[type=submit] {
    margin-top: 6px;
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    width:25%;
    height: 35px;
    font-size: 14px;
    opacity: 0.8;
}
input[type=submit]:hover {
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    font-size: 14px;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.warning {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 10px;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
td {
    padding: 6px;
}
.form {
    border: solid 2px rgba(100, 100, 100);
    padding: 10px;
    display: block;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}
.vl {
    border-left: 2px solid rgba(100, 100, 100);
    height: 300px;
    margin: 10px;
}
table {
    /* margin: auto; */
}
.button {
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0.8;
    width:100%;
    margin-top: 11px;
}
.button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.buttonR {
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0.8;
    width:45%;
    margin: 1%;
    margin-top: 11px;
}
.buttonR:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
input[type=text] {
    font-family: "Poppins"; 
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 6px;
    font-size: 16px;
    width: 500px;
}
textarea {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-top: 10px;
    border-radius: 6px;
    font-family: "Poppins"; 
    font-size: 14px;
}
.input-file {
	position: relative;
	display: inline-block;
    margin-top: 15px;
    margin-bottom: 7px;
}
.input-file span {
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0.8;
}
span.input-file-style {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 50px;
    padding-right: 50px;
}
.input-file span:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1; 
    scale: 1.2;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
}
.buttonS {
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    font-size: 14px;
    border: solid 2px rgb(255, 255, 255);
    opacity: 0.8;
    width:150px;
    margin-top: 11px;
    
}
.buttonS:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1; 
    border: solid 2px #0068E8;
    scale: 1.2;
}
.buttonL {
    appearance:none;
    -webkit-appearance:none;
    font-family: "Poppins"; 
    padding:7px;
    border:none;
    background-color:#0068E8;
    color:#fff;
    font-weight:600;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0.8;
    width:150px;
    margin-top: 11px;
}
#timeout {
    width: 130px;
    height: 8px;
}