body {
    font-family: "Poppins";
    background-color: rgb(53, 53, 53);
}

.text-blue {
    color: rgb(0, 103, 230);
    margin-top: 0;
    margin-bottom: 40px;
}
.logo {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
}
@font-face {
    font-family: "Poppins"; 
    src: url("../style/fonts/Poppins-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
.data {
    text-align: center;
    color:#fff;
}
form {
    text-align: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
input {
    text-align: center;
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button {
  appearance:none;
  -webkit-appearance:none;
  padding:7px;
  border:none;
  background-color:#0068E8;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  margin-top: 20px;
  width:10%;
}
button:hover {
    opacity: 0.8;
}