<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./public/style/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./public/style/indexStyle.css">
    <title>WEB Parser</title>
</head>
<body>

    <div class="header">
        <button class="username" type="submit">Logged in <%= info %> </button>
    </div>
    <hr>
    <div class="uploadFile">
        <form action="/upload" method="POST" enctype="multipart/form-data" >
            <input class="file" type="file" name="xlsx"><input class="sendFile" type="submit">
        </form>
    </div>
      
    <div class="main">
        
    </div>    


</body>
</html>