<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./public/style/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./public/style/indexStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>WEB Parser</title>
</head>
<body>
    <div class="main">

        <div class="header">
            <button class="username" type="submit">user - <%= username %> </button>
        </div>
        
        <div class="example-2">
            <div class="form-group">
              <input type="file" name="file" id="file" class="input-file">
              <label for="file" class="btn btn-tertiary js-labelFile">
                <i class="icon fa fa-check"></i>
                <span class="js-fileName">Загрузить файл</span>
              </label>
            </div>
           </div>

        <div class="blocks">
            <div class="logs">
                <b id="namelogs">logs</b>
                <ul>141412142124214124214</ul>
                <ul>141412142124214124214</ul>
                <ul>141412142124214124214</ul>
            </div>
        </div>
        
        
    </div>


</body>
</html>