<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./public/style/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./public/style/indexStyle.css">
    <title>WEB Parser</title>
</head>
<body>
    <div class="main">

        <div class="header">
            <button class="username" type="submit">user - <%= username %> </button>
        </div>
        <hr>
        <div class="uploadFile">
            <form method="POST" enctype="multipart/form-data">
                <input class="file" type="file" name="xlsx"><input class="sendFile" type="submit">
            </form>
        </div>

        
        
        <div class="blocks">
            <div class="logs">
                <b id="namelogs">logs</b>
                <ul>141412142124214124214</ul>
                <ul>141412142124214124214</ul>
                <ul>141412142124214124214</ul>
            </div>

        </div>
        
        
    </div>


</body>
</html>