<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./public/style/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./public/style/indexStyle.css">
    <title>WEB Parser</title>
</head>
<body>

    <div class="header">
        <button class="info" type="submit"><%= info %> </button>
    </div>
      
    <div class="uploadFile">
        <div class="warning">
            <p>Download an Excel Spreadsheet</p>
        </div> 
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label class="input-file">
                <input class="file" type="file" name="xlsx">		
                <span class="input-file-style">Select File .xlsx</span>
          </label>
            <p><input class="sendFile" type="submit" value="Upload File"></p>
        </form>
        <div class="warning">
            <p>Support for formats only .xlsx</p>
        </div> 
    </div>
       
    <div class="form">
        <table>
            <td style="vertical-align: top;">
                <form method="POST" action="/rules">

                    <p><label for="rule1">URL</label></p>
                    <p><input type="text" name="rule_1" placeholder="https://www.google.com/..."></p>

                    <p><label for="rule2">Rule 2</label></p>
                    <p><input type="text" name="rule_2" placeholder="Tag"></p>

                    <p><label for="rule3">Rule 3</label></p>
                    <p><input type="text" name="rule_3" placeholder="Tag"></p>

                    <button class="button" type="submit">Send/Preview</button>
                </form>
            </td>

            <td>
                <div class="vl"></div>
            </td>

            <td style="vertical-align: top;">
                <div class="buttonL">
                    <p>Actions on Rules</p>

                    <form method="POST" action="/deleteRules">
                        <p><input type="text" name="deleteRules" id="deleteRules" placeholder="id rules"></p>
                        <button class="buttonS" type="submit">Delete Rules</button>
                    </form>

                    <form method="POST" action="/previewRules">
                        <button class="buttonS" type="submit">Preview</button>
                    </form>

                    <form method="POST" action="/previewRulesJson" target="_blank">
                        <button class="buttonS" type="submit">Preview JSON</button>
                    </form>

                    <form method="POST" action="/downloadRules" target="_blank">
                        <button class="buttonS" type="submit">Download Rules</button>
                    </form>
                    
                    <div class="uploadFileRules">
                        <p>Follow JSON Format</p>
                        <hr>
                        <form action="/uploadRules" method="POST" enctype="multipart/form-data">
                            <label class="input-fileR">
                                <input type="file" name="xlsx">		
                                <span class="input-file-styleR">Select File</span>
                        </label>
                            <p><input class="sendFileR" type="submit" value="Upload Rules"></p>
                        </form>
                    </div>
                </div>
                
                
            </td>

            <td>
                <div class="vl"></div>
            </td>

            <td style="vertical-align: top;">
                <div class="output">
                    <textarea rows="14" cols="35" name="text" readonly="readonly"><%= preview %></textarea>
                </div>
            </td>


        </table>
    </div>

    <div class="buttonL">
                    <form method="POST" action="/start">
                        <p><input type="text" name="timeoutParser" id="timeout" placeholder="Interval (day)"></p>
                        <button class="buttonS" type="submit">Start</button>
                    </form>
                    <form method="POST" action="/stop">
                        <button class="buttonS" type="submit">Stop</button>
                    </form>
                    <form method="POST" action="/users/data" target="_blank">
                        <button class="buttonS" type="submit">Preview Users</button>
                    </form>
                </div>


    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).next().html(file.name);
        });
    </script>
</body>
</html>