*,
html * /*override x.xhtml.ru style */
{
  scrollbar-width: thin;
  scrollbar-color: white;
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 2px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: gray;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
